body {
  background-color: #ddd;
}

p {
  margin-block-start: 16px;
  margin-block-end: 16px;
}

textarea {
  min-height: 120px;
}

.decisionEntry {
  margin: 10px;
  padding: 10px;
  background-color: #aaa;
}

.chosenItemText {
  font-size: 3em;
}

.endDateText {
  color: #444;
  font-size: .8em;
}

.finishedText {
  color: #151;
  font-weight: bold;
  font-size: 2em;
}